.yc-hero-container--white {
	min-height:100vh;
	padding-top: 150px;
	background-color: #fff;
}

.yc-hero-container {
	min-height:100vh;
	padding-top: 150px;
	/*background-color: #292a2e;*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../img/bg9.jpg);
	background-size: cover;
}


.ycPage .container {
	width:980px;
}




.hero-logo {
	margin-bottom: 5rem;
}

.hero-text {
	text-align: center;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);

}
.yc-hero-container--white .hero-text h1 {
color: #292a2e;
}

.yc-hero-container--white .hero-text h3 {
color: #292a2e;
}

.yc-hero-container--white .hero-text h4 {
color: #292a2e;
}

.hero-text h1 {
	
	color: #fff;
	margin-bottom: 2rem;
}


.hero-text h3 {
	color: #e2e2e2;
	
	margin-bottom: 3.4rem;
	font-size: 1.35rem;
}



.hero-text h4 {
	color: #e2e2e2;
	
	margin-bottom: 3.4rem;
	font-size: 1rem;
}


.yc-innov8-button {
	    color: #fff;
	    cursor: pointer;
	    text-decoration: none;
	    padding: 10px 25px;
	    border: solid 2px #e64444;
	    background:#e64444;
	    font-weight:600;

	    

	    
}


.section-talks {
	/*background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.71)), url(../img/yc-talk-wide-2.png);*/

}

.section-firechat {
	margin-top: 2rem;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.81)), url(../img/AdoraCheung.jpg);
}

.section-firechat .bar-img-headline {
	display: inline-block;
}

.section-firechat h4 {
	margin: 2rem 0;
}

.section-img-bar {
	height:400px;
	
	background-size:cover;


}


.section-img-bar-text {
	color:#fff;
	margin-top: 3rem;
	text-align: center;
}

.section-img-bar-text .bar-img-headline {
	font-size: 2.5rem;
	background-color: #e64444;
	padding: 1rem 2rem;

}

.headline {
	color:#e64444;
	margin: 3rem 0 5rem;
	font-size: 3rem;
	padding-bottom:1rem;
	border-bottom: 5px solid #e64444;
}




.section-speakers {


}

.speakers-speaker-text {

    bottom: 0;
    color: #FFF;
    left: 0;
    padding: 0 2rem 16px;
    position: absolute;
    text-align: left;
    z-index: 2;
    text-shadow:1px 1px 1px rgba(0,0,0,0.6);


}


.speakers-speaker-text .speakers-speaker-name {
	font-size: 2.3rem;
	font-weight: 600;
	display: block;
	line-height: 1.1;
	margin-bottom: 0.6rem;

}


.speakers-speaker-text .speakers-speaker-desc {

}

.section-speakers .speakers-speaker-img {
	object-fit:cover;
}

.section-speakers .speaker-detail {
	
	margin-bottom: 2.2rem;
}

.section-speakers .speaker-detail .detail  {
	padding:0rem;
	height:362px;

	background-color: #ccc;
}


.yc-innov8-button-smallpad {
	padding: 5px 25px;
}

.yc-innov8-button:hover {
	    	    color: #fff;
    			background-color: #e64444;
	    }


.innov8-button-tans {
	background-color: transparent;
}

.ycPage .section-2 {
	
	padding: 150px 0 100px;
	letter-spacing: 1

}


.ycPage .section-2 h6 {
	font-size: 2.7rem;
	margin-bottom: 2.5rem;
	font-weight: 600;
	line-height: 1.2
}

.section-2-sec2 {
	margin-top: 4rem;
}

.ycPage .section-2 .s-headline {
	font-size: 0.8rem;
	font-weight: 600;
	color:#e64444;
	display: block;
	margin-bottom: 1rem;	
}

.small-text {
	display: block;
	margin-top: 1rem;
}

.ycPage .section-2 .s-text {
	font-size: 1.6rem;
	margin-bottom: 2.2rem;
	display: block;
	font-weight: 600;
}


.ycPage .section-2 .sec2-when-list {
	margin: 0;
	list-style: none;
	padding: 0;
}


.ycPage .form-section {
	background-color: #f6f6ef;
	padding-top: 100px;
}
.ycFrom {

}




.ycFrom .form-subtitle {
	color:#e64444;
	font-weight: 600;
	text-align: right;
	margin-right: 30px;
	    margin-bottom: 30px;
}

.ycFrom .has-error {
	color: red;
}


input[type='text'], input[type='number']  {
    width: 50%;
}

input[type='url'], input[type='email'] {
    width: 80%;
    margin: 0 0 .6rem 0;
}	

textarea {
	overflow: hidden;
    word-wrap: break-word;
    resize: horizontal;
    height: 100px;
}

select {
	width:38% !important;
}
.section-location-list {
	height:300px;
	padding: 100px;
	text-align: center;
	color: #fff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.4);
}

.section-location-list .list-location {
	display: block;
	font-size: 2rem;
	margin-bottom: 1rem;

}


.section-location-list .list-time {
	font-size: 1.1rem;
}


.section-location-list--delhi {
	background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://cdn-images-1.medium.com/max/800/0*T8-FGMUity1o8yh8.jpg);
	background-size: cover;
}

.section-location-list--bangalore {
	background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(http://blog.gyanlab.com/wp-content/uploads/2015/11/Credits-Young-Indian-Website.jpg);
	background-size: cover;
}



.section-location-list--bangalore {

} 
.section-schedule .loc-date {
	
	margin-bottom: 2rem;
	padding-bottom: 0.5rem;
}

.section-schedule .loc-date-end {
	
}

 .schedule-list {
 	margin-bottom: 4rem;
 	margin-top: 6rem;
}

.schedule-date {
	
	font-size:1.62rem;
	display: inline-block;
	margin-right: 1.5rem;
}
.schedule-list .schedule-name {
	margin-top: 2.5rem;
	font-weight: 600;
	margin-bottom: 0.4rem;
	color:#e64444;
}

.schedule-list .schedule-time {
	font-size: 0.9rem;
	display: block;
	margin-bottom: 1rem;
	font-weight: 600;
}

.schedule-list .schedule-text {
	display: block;
	margin-bottom: 1rem;
}

.schedule-date-location .fa {
	margin-right: 0.4rem;
}




.schedule-list .schedule-list--image img {
	/*max-width: 474px;*/
	border-radius: 10px;
	
}


@media only screen and (max-width: 500px) {
    .yc-hero-container {
        padding-top: 80px;
    }

    .page-container--body {
    	padding: 200px 1rem 100px !important;
    }
}